.@{prefix}btn {
  font-size: inherit;
  display: inline-flex;
  align-items: center;
  outline: none;

  cursor: pointer;
  .input();

  padding: 0 10px;

  &:hover {
    background-color: @c-primary-50;

    &:disabled {
      background-color: @c-gray-50;
    }
  }

  &.it-text {
    border: none;
    padding: 0;
    background-color: transparent;
  }

  &.it-primary {
    background-color: @c-primary;
    color: @c-text-reverse;
    border: none;

    &:hover {
      background: @c-primary-400;
    }

    &:active {
      background: @c-primary-600;
    }

    &:disabled {
      background: @c-gray-50;
      color: @c-disabled;
      border: 1px solid currentColor;
    }
  }

  &.is-loading {
    cursor: wait;
  }
}
