body,
div {
  @size: 4px;

  &::-webkit-scrollbar {
    width: @size;
    background: rgba(0, 0, 0, 0.03);
  }

  &::-webkit-scrollbar-thumb {
    width: @size;
    border-radius: @size * 2;

    background-color: @c-gray-300;

    .transition(background-color);

    &:hover {
      background-color: @c-gray-400;
    }
  }
}
